






//////////
$bp-big: 100em;  //1600px
$bp-large: 81.25em;    // 1300px  //1300px/16 = 81.25
$bp-medium: 59em;   // 950px
$bp-small: 44em;     // 690px
$bp-smallest: 36em; // 590px



  