//COLOR
$LightSkyBlue: #87cefa;
$MediumBlue: #0000cd;
$MidnightBlue: #191970;
$DarkGrey: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light:#f7f7f7;

$icon-grey:#333;


$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-card-light:#7ed56f;
$color-card-dark:#28b485;





//font
$default-font-size:1.6rem;

//GRID
$grid-width: 114rem;
$vertical: 8rem;
$horizontal: 6rem;